body {
  font-family: 'Lato', sans-serif;
}

.header {
  background: #313D48;
}

.logo {
  display: inline-block;
}

.menu {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 20px;
  color: white;
  margin-top: 5px;
}

.menu li {
  display: inline-block;
  padding: 0 15px 0 5px;
  border-right: 1px solid white;
}

.menu button {
  font-family: 'Lato', sans-serif;
  border: none;
  background: #D64843;
  color: white;
  font-size: 16px;
  margin: 0 12px 0 12px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.top {
  background: #EBEBEB;
}

.top button {
  font-family: 'Lato', sans-serif;
  border: none;
  background: #313D48;
  color: white;
  font-size: 14px;
  margin-left:  5px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  width: 1000px;
  margin: auto;
  position: relative;
}

.buscar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
