body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.header {
  background: #313D48;
}

.logo {
  display: inline-block;
}

.menu {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 20px;
  color: white;
  margin-top: 5px;
}

.tarjeta {
  background: rgba(255,255,255, .8);
  width: 450px;
  padding: 0px 10px 0px 10px;
  float: left;
  position: absolute;
  bottom: 50px;
  left: 15px;
  border-radius: 3px;
}

.tarjeta img {
  border-radius: 50%;
  display: inline;
}

.tarjeta h5 {
  display: inline;
}

.tarjeta h1 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.menu li {
  display: inline-block;
  padding: 0 15px 0 5px;
  border-right: 1px solid white;
  cursor: pointer;
}

.menu li.activo {
  color: #AAC92F;
}

.menu li:hover {
  color: #D84944;
}

.menu button {
  font-family: 'Lato', sans-serif;
  border: none;
  border-bottom: 4px solid #B32B2E;
  background:  #D84944;
  color: white;
  font-size: 16px;
  margin: 0 12px 0 12px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.menu button:hover {
  background: #AAC92F;
  border-bottom: 4px solid #618D00;
}

.menu button:active {
  transform: scale(.9);
}

.top {
  background: #EBEBEB;
}

.top button {
  font-family: 'Lato', sans-serif;
  border: none;
  background: #313D48;
  color: white;
  font-size: 14px;
  margin-left:  5px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  width: 1000px;
  margin: auto;
  position: relative;
}

.buscar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.medium {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.carta {
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.carta h2 {
  padding-bottom: 25px;
  border-bottom: 1px solid black;
  font-weight: 200;
}

.carta h4 {
  display: inline;
  font-weight: 100;
}

.carta img {
  width: 300px;
}

.autor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
}

footer {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  display: inline-block;
}

footer button {
  background: #E9E9E9;
  border: none;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}

footer button:hover {
  background: #bdbdbd;
}
